body {
    position: relative;
    margin: 0;
    background-image: url('../src/images/bg2.jpg');
    background-size: cover;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently 
    supported by Chrome and Opera */
}

body::before {
    content: '';
    position: absolute;
    top: 50px;
    left: 50%;
    margin-left: -550px;
    width: 40px;
    height: 40px;
    background-image: url('../src/images/screw.png');
    background-size: contain;
    box-shadow: 0 0 3px black;
    border-radius: 50%;
}

body::after {
    content: '';
    position: absolute;
    top: 50px;
    right: 50%;
    margin-right: -550px;
    width: 40px;
    height: 40px;
    background-image: url('../src/images/screw.png');
    background-size: contain;
    box-shadow: 0 0 3px black;
    border-radius: 50%;
}

.logo {
    display: block;
    width: 500px;
    height: 100px;
    margin: 20px auto;
}

.content {
    display: flex;
    max-width: 1300px;
    margin: 0 auto;
}

.dock {
    width: 200px;
    height: 400px;
    margin: 20px 49px;
    border: 1px solid black;
    .dropzone {
        width: 100%;
        height: 50px;
    }
}

.board {
    position: relative;
    background-image: url('../src/images/water.png');
    background-repeat: repeat;
    background-size: 20px;
    width: 400px;
    height: 400px;
    margin: 20px 49px;
    border: 1px solid black;
    box-shadow: 0 0 4px 1px black;
    display: flex;
    flex-wrap: wrap;
    .cell {
        width: 38px;
        height: 38px;
        border: 1px solid rgba(0, 0, 0, 0.3);
    }
}

.board::before {
    content: '';
    width: 430px;
    height: 430px;
    position: absolute;
    top: -15px;
    right: -15px;
    border-radius: 10px;
    box-shadow: 0 0 4px black inset, 0 0 3px 2px black;
    background-image: url('../src/images/border.jpg');
    background-size: cover;
    z-index: -1;
}

.ship {
    height: 40px;
    position: absolute;
    z-index: 1;
}

.draggable-dropzone--active {
    z-index: 5;
}

.ship-1 {
    width: 40px;
}

.ship-2 {
    width: 80px;
}

.ship-3 {
    width: 120px;
}

.ship-4 {
    width: 160px;
}

.btn {

}

.effect {
    width:40px;
    height:40px;
    position: absolute;
    z-index: 2;
    animation-name: grow;
    animation-duration: 0.5s;
}

@keyframes grow {
    0% {
        transform: scale(0);
    }
    65% {
        transform: scale(1.2);
    }
    100% {
        transform: scale(1);
    }
}

.draggable-dropzone--active {
  z-index: 99900909;
}

.draggable-mirror {
  display: none !important;
}
