body {
  background-color: salmon;
  -webkit-touch-callout: none; /* iOS Safari */
   -webkit-user-select: none; /* Safari */
   -khtml-user-select: none; /* Konqueror HTML */
   -moz-user-select: none; /* Firefox */
   -ms-user-select: none; /* Internet Explorer/Edge */
   user-select: none; /* Non-prefixed version, currently                                   supported by Chrome and Opera */
}

.content {
  display: flex;
  max-width: 1300px;
  margin: 0 auto;
  border: 1px solid blue;
}

.dock {
  width: 202px;
  height: 402px;
  margin: 40px;
  border: 1px solid red;
}

.board {
  width: 402px;
  height: 402px;
  margin: 40px;
  border: 1px solid red;
  display: flex;
  flex-wrap: wrap;
  div {
    width: 40px;
    height: 40px;
  }
}

.ship1 {
  width: 40px;
  height: 40px;
  border: 1px solid green;
}

.ship2 {
  width: 80px;
  height: 40px;
  border: 1px solid purple;
}







.container {
  width: 1000px;
  display: flex;
}

.draggable-container,
.droppable-container {
  width: 400px;
  height: 400px;
  display: flex;
  flex-wrap: wrap;
}

.draggable,
.dropzone {
  width: 50px;
  height: 50px;
}

.draggable {
  background-color: red;
}

.dropzone {
  background-color: blue;
}


